
.headerCell {
	cursor: pointer;
	clear: both;
}

.rowCell {
	text-align: center;
	cursor: pointer;
	clear: both;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

input[type=file] {
	width: 150px;
	font-size: 65%;
}

input[type=checkbox] {
	width: 50%;
	margin: 0 auto;
	display: block;
}

input[type=text] {
	width: 100px;
}

input[data-type=Date] {
	min-width: 110px;
}

input, select, textarea, .sp-replacer {
	float: left;
	z-index: 10;
}

.editorCloseButton {
	border-radius: 50%;
	background-color: #d74d2f;
	color: white;
	text-align: center;
	height: 10px;
	width: 10px;
	float: left;
	font-size: 8px;
	padding: 2px;
	padding-top: 3px;
	font-weight: bold;
	margin-left: -5px;
	margin-top: -5px;
	z-index: 20;
}
